.gallery {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  gap: 8px;
}

@media (max-width: 1024px) {
  .gallery {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(23, 1fr);
    grid-column-gap: 8px;
    grid-row-gap: 8px;
  }

  .div1 {
    grid-area: 12 / 1 / 24 / 4;
  }
  .div2 {
    grid-area: 1 / 1 / 12 / 6;
  }
  .div3 {
    grid-area: 12 / 4 / 19 / 6;
  }
  .div4 {
    grid-area: 19 / 4 / 24 / 6;
  }

  .box1 {
    grid-area: 1 / 3 / 13 / 6;
  }
  .box2 {
    grid-area: 1 / 1 / 8 / 3;
  }
  .box3 {
    grid-area: 8 / 1 / 13 / 3;
  }
  .box4 {
    grid-area: 13 / 1 / 24 / 6;
  }
}

@media (min-width: 1024px) {
  .gallery {
    gap: 8px;
  }
  .box1 {
    grid-area: 2 / 1 / 8 / 10;
    display: flex;
    align-items: end;
    justify-content: end;
    border-radius: 6px;
  }
  .box2 {
    grid-area: 1 / 10 / 8 / 23;
    display: flex;
    align-items: end;
    justify-content: end;
    border-radius: 6px;
  }
  .box3 {
    grid-area: 8 / 1 / 12 / 7;
    display: flex;
    align-items: start;
    justify-content: start;
    border-radius: 6px;
  }
  .box4 {
    grid-area: 8 / 7 / 12 / 14;
    display: flex;
    align-items: start;
    justify-content: start;
    border-radius: 6px;
  }
  .div1 {
    grid-area: 1 / 1 / 7 / 10;
    display: flex;
    align-items: end;
    justify-content: end;
    border-radius: 6px;
  }
  .div2 {
    grid-area: 3 / 10 / 7 / 23;
    display: flex;
    align-items: end;
    justify-content: end;
    border-radius: 6px;
  }
  .div3 {
    grid-area: 7 / 1 / 12 / 13;
    display: flex;
    align-items: start;
    justify-content: start;
    border-radius: 6px;
  }
  .div4 {
    grid-area: 7 / 13 / 11 / 23;
    display: flex;
    align-items: start;
    justify-content: start;
    border-radius: 6px;
  }
}

@media (min-width: 1280px) {
  .gallery {
    gap: 16px;
  }
}
